# Import Libraries

In [ ]:
import pandas as pd

# Load the Data Set

In [16]:

df = pd.read_csv("mall_customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income  Spending Score
0           1    Male   19             15              39
1           2    Male   21             15              81
2           3  Female   20             16               6
3           4  Female   23             16              77
4           5  Female   31             17              40

# Data Preprocessing

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    int64
 1   Gender          200 non-null    object
 2   Age             200 non-null    int64
 3   Annual Income   200 non-null    int64
 4   Spending Score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [18]:
df.describe().T

                count    mean        std   min    25%    50%     75%    max
CustomerID      200.0  100.50  57.879185   1.0  50.75  100.5  150.25  200.0
Age             200.0   38.85  13.969007  18.0  28.75   36.0   49.00   70.0
Annual Income   200.0   60.56  26.264721  15.0  41.50   61.5   78.00  137.0
Spending Score  200.0   50.20  25.823522   1.0  34.75   50.0   73.00   99.0

In [19]:
df.isnull().sum()

CustomerID        0
Gender            0
Age               0
Annual Income     0
Spending Score    0
dtype: int64

In [20]:
print(df.duplicated().sum())

0

In [21]:
df['Gender'] = df['Gender'].str.strip().str.capitalize()

In [22]:
df['CustomerID'] = df['CustomerID'].astype(int)
df['Age'] = df['Age'].astype(int)
df['Annual Income'] = df['Annual Income'].astype(float)
df['Spending Score'] = df['Spending Score'].astype(int)

In [23]:
Q1 = df['Annual Income'].quantile(0.25)
Q3 = df['Annual Income'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Annual Income'] >= Q1 - 1.5*IQR) & (df['Annual Income'] <= Q3 + 1.5*IQR)]

# Save Cleaned Dataset

In [24]:
df.to_csv("mall_customers_cleaned.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!